@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

header {
  background-image: url(https://i.redd.it/ba5l2wtuzp121.jpg);
  background-size: cover;
  overflow: hidden;
  text-align: center;
  height: 900px;
  width: 100%;
  animation-duration: 2s;
  animation-name: fade;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

header h1 {
  font-family: "Staatliches", cursive;
  font-size: 20pc;
  color: white;
  position: relative;
  top: 3rem;
  left: 1rem;
  user-select: none;
  letter-spacing: 3rem;
  animation-duration: 1.5s;
  animation-name: fadeInh1;
  opacity: 0.7;
}

header h2 {
  font-family: "Staatliches", cursive;
  font-size: 2pc;
  color: white;
  position: relative;
  top: 3rem;
  left: 1rem;
  user-select: none;
  letter-spacing: 0.5rem;
  animation-duration: 1.5s;
  animation-name: fadeInh2;
  opacity: 0.7;
}

@keyframes fadeInh1 {
  from {
    top: 0rem;
  }

  to {
    top: 3rem;
  }
}


@keyframes fadeInh2 {
  from {
    top: 0rem;
  }

  to {
    top: 3rem;
  }
}



@keyframes fadeInB {
  from {
    top: 0rem;
  }

  to {
    top: 6rem;
  }
}

nav {
  display: flex;
  justify-items: self-start;
}

nav a {
  margin-top: 1rem;
  padding: 1rem;
  display: inline-block;
  font-size: 2pc;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 5px;
  margin-left: 3rem;
}

nav a:hover {
  background-color: rgba(190, 40, 128, 0.753);
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.L1 {
  /* border: solid tomato; */
  margin-top: 15rem;
  text-align: center;
  height: 800px;
  width: 100%;
  /* padding: 15rem; */
  position: relative;
}

.L1cover {
  /* border: solid red; */
  /* float: right; */
  position: absolute;
  right: 10rem;
  height: 650px;
  width: 650px;
  background-image: url(http://cdn.shopify.com/s/files/1/0252/6822/4088/t/54/assets/logo_facebook.png?v=14636856715189202634);
  background-size: cover;
  overflow: hidden;
}

.L1-anime {
  animation: L1anime 5s 1;
}

@keyframes L1anime {
  from {
    
    opacity: 0;
  }

  to {
   
    opacity: 1;
  }
}

.L1 h3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 4pc;
  display: inline-block;
  /* border: solid tomato; */
  width: 50rem;
  position: absolute;
  left: 7rem;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.L2 {
  /* border: solid tomato; */
  margin-top: 15rem;
  text-align: center;
  height: 800px;
  width: 100%;
  padding: 5rem;
}

.L2cover {
  /* border: solid red; */
  float: left;
  height: 550px;
  width: 850px;
  background-image: url(https://i.pinimg.com/originals/91/f7/33/91f7335faeccce807e8dbb3b1de19a77.png);
  background-size: cover;
  overflow: hidden;
}

.L2-anime {
  animation: L2anime 3.5s 1;
}

@keyframes L2anime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.L2 h3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 4pc;
  float: right;
  display: inline-block;
  /* border: solid tomato; */
  float: left;
  width: 30rem;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.L3 {
  position: relative;
  margin-top: 15rem;
  margin-left: auto;
  margin-right: auto;
  background-image: url(https://kurzgesagt.org/wp-content/uploads/2018/07/inanutshell-kurzgesagt-the-great-filter-06.png);
  background-size: cover;
  overflow: hidden;
  text-align: center;
  height: 900px;
  width: 90%;
  /* border: tomato solid; */
  padding: 2rem;
  box-shadow: 0px 5px 15px #00000078;
}

.L3-anime {
  animation: L3anime 2.5s 1;
}

@keyframes L3anime {
  from {
    margin-left: 70rem;
    opacity: 0.1;
  }

  to {
    margin-left: 5.6rem;

    opacity: 1;
  }
}

.L3 #one {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 2pc;
  display: inline-block;
  /* border: solid tomato; */
  color: white;
  width: 40rem;
  float: left;
  word-spacing: 0.5rem;
  user-select: none;
}

.L3 #two {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 2pc;
  display: inline-block;
  /* border: solid tomato; */
  color: white;
  width: 40rem;
  /* float: left; */
  word-spacing: 0.5rem;
  /* margin-top: 40rem;
  margin-left: 10rem; */
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  user-select: none;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.L4 {
  margin-top: 15rem;
  margin-left: auto;
  margin-right: auto;
  background-image: url(https://pbs.twimg.com/media/EI3MXKLXUAERyFG.jpg:large);
  background-size: cover;
  overflow: hidden;
  text-align: center;
  height: 2000px;
  width: 95%;
  /* border: tomato solid; */
  padding: 2rem;
  box-shadow: 0px 5px 15px #00000078;
}

.L4-anime {
  animation: L4anime 2s 1;
}

@keyframes L4anime {
  from {
    margin-top: 16rem;
    opacity: 0.1;
  }

  to {
    margin-top: 15rem;
    opacity: 1;
  }
}

.L4 #three {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 2pc;
  display: inline-block;
  /* border: solid tomato; */
  color: white;
  width: 40rem;
  float: left;
  word-spacing: 0.5rem;
  user-select: none;
}

.L4 #four {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 2pc;
  display: inline-block;
  /* border: solid tomato; */
  color: white;
  width: 40rem;
  float: left;
  word-spacing: 0.5rem;
  margin-top: 40rem;
  margin-left: 10rem;
  user-select: none;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

footer {
  margin-top: 15rem;
  background-image: url(https://wallpaperaccess.com/full/1886939.png);
  background-size: cover;
  overflow: hidden;
  text-align: center;
  height: 900px;
  width: 100%;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: white;
  font-size: 2pc;
  padding: 20rem;
}

.L5 {
  /* border: tomato solid; */
  margin-bottom: 10rem;
  font-size: 5pc;
}

@keyframes L5anime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.L5-anime {
  animation: L5anime 8s 1;
}

footer a {
  font-size: 1.5pc;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 1.5rem;
  transition: 0.3s;
  user-select: none;
}

footer p {
  padding: 1.5rem;
  user-select: none;
}

footer a:hover {
  color: #882695;
}







@media screen and (max-width: 800px) {

  * {
      box-sizing: border-box;
    }
    
    html,
    body {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden;
      position: relative;
    }



    header {
      position: relative;
      text-align: center;
      height: 200px;
      width: 100%;
      
    }

    header h1 {
      font-size: 2pc;
      position: absolute;
      top: 3rem;
      left: 2rem;
      right: 0rem;
      animation-duration: 1s;
      letter-spacing: 1rem;
    }

    header h2 {
      
      font-size: 1pc;
      position: absolute;
      top: 5rem;
      left: 1rem;
      right: 0rem;
      letter-spacing: 0.5rem;
      animation-duration: 1s;
    }

    @keyframes fadeInh2 {
      from {
        top: 0rem;
      }
    
      to {
        top: 5rem;
      }
    }


nav {

  position: absolute;
  top: -1rem;
  right: 0rem;
  left: 0rem;
}


    nav a {
      
      padding: 1rem;
       font-size: 0.8pc;
     
    }


    .L1 {
      /* border: solid tomato; */
      margin-top: 10rem;
      text-align: center;
      height: 500px;
      width: 100%;
      padding: 1rem;
      position: relative;
    }

    .L1cover {
     position: absolute;
      height: 350px;
      width: 350px;
      right: 1rem;
      left: 1rem;
      top: 10rem;
    }

    .L1 h3 {
      position: absolute;
      font-size: 1.5pc;
      display: inline-block;
      left: 1rem;
      right: 1rem;
      width: 20rem;
      
    }



    .L2 {
      /* border: solid tomato; */
      margin-top: 10rem;
      text-align: center;
      height: 500px;
      width: 100%;
      padding: 1rem;
      position: relative;
    }

    .L2cover {
     position: absolute;
      height: 200px;
      width: 300px;
      right: 4rem;
      top: 10rem;
    }

    .L2 h3 {
      position: absolute;
      font-size: 1.5pc;
      display: inline-block;
      left: 1rem;
      right: 1rem;
      width: 20rem;
      
    }




    .L3 {
      margin-top: 3rem;
      position: relative;
      text-align: center;
      height: 200px;
      width: 90%;
      overflow: auto;
      animation-duration: 1s;
    }


    @keyframes L3anime {
      from {
        margin-left: 70rem;
        opacity: 0.1;
      }
    
      to {
        margin-left: 1.3rem;
    
        opacity: 1;
      }
    }



    .L3 #one {
      position: absolute;
      font-size: 0.6pc;
      /* border: solid tomato; */
      top: 1rem;
      left: 1rem;
      width: 15rem;
      word-spacing: 0.5rem;
      
    }



    .L3 #two {
      position: absolute;
      font-size: 0.6pc;
      /* border: solid tomato; */
      top: 20rem;
      right: 1rem;
      width: 13rem;
      word-spacing: 0.5rem;
      
    }




    .L4 {
      margin-top: 8rem;
      position: relative;
      text-align: center;
      height: 1000px;
      width: 90%;
      overflow: auto;
      animation-duration: 1s;
    }



    .L4 #three {
      position: absolute;
      font-size: 1pc;
      /* border: solid tomato; */
      top: 1rem;
      left: 1rem;
      width: 15rem;
      word-spacing: 0.5rem;
      
    }


    @keyframes L4anime {
      from {
        
      }
    
      to {
      
        
      }
    }


.fotah {
  position: absolute;
  padding: 0rem auto; 
  height: 30%;
      width: 100%;
      /* border: tomato solid; */
}

    footer {
      position: relative;
      text-align: center;
      height: 200px;
      width: 100%;
      margin-top: 3rem;
      padding: 0rem;
      /* border: solid tomato; */
    }


    .L5 {
      position: absolute;
      /* border: tomato solid; */
      top: 2rem;
      right: 2rem;
      left: 2rem;

      font-size: 1.5pc;
    }
    
    
    .L5-anime {
      animation: L5anime 5s 1;
    }
    
    footer .social {
    position: absolute;
      top: 5rem;
      right: 2rem;
      left: 2rem;
      font-size: 1pc;
      
    }

    footer a {
      font-size: 1rem;
    }
    
    footer p {
      font-size:1pc;
      position: absolute;
      padding: 0rem;
      right: 2rem;
      left: 2rem;
      bottom: 5rem;
    }
    
    
}